synthesis/INCA_libs 
synthesis/xcelium.d 
synthesis/*.log 
synthesis/*.cmd[0-9]* 
synthesis/genus.log* 
synthesis/genus.cmd* 
synthesis/modus.log* 
synthesis/modus.cmd* 
synthesis/layout/*.db 
synthesis/layout/*.g.gz 
synthesis/layout/*.v.gz 
synthesis/layout/*.metrics.json 
synthesis/layout/*.scan.def.gz 
synthesis/layout/*.taf.gz 
synthesis/layout/*.mode 
synthesis/layout/*.min_layer 
synthesis/outputs/dft/modus_atpg/Inca_libs_* 
synthesis/outputs/dft/modus_atpg/testresults 
synthesis/outputs/dft/modus_atpg/tbdata
